Source: qt-embedded
Priority: optional
Maintainer: unknown <privacy@not.given>
Build-Depends:
 debhelper (>= 9),
 libz-dev,
 libsqlite3-dev,
Standards-Version: 3.9.5
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/qt-embedded.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/qt-embedded.git;a=summary

Package: qt-embedded-dev
Section: libdevel
Architecture: any
Depends: qt-embedded (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: qt-embedded
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
