Source: qt-embedded
Priority: optional
Maintainer: unknown <privacy@not.given>
Build-Depends:
 debhelper (>= 9),
 pkg-config,
 libz-dev,
 libsqlite3-dev,
 libglib2.0-dev,
 libgstreamer0.10-dev,
 libgstreamer-plugins-base0.10-dev,
Standards-Version: 3.9.5
Section: libs
Homepage: http://projects.goldelico.com/p/qtmoko2-qte/
#Vcs-Git: git://anonscm.debian.org/collab-maint/qt-embedded.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/qt-embedded.git;a=summary

Package: qt-embedded-dev
Section: libdevel
Architecture: any
Depends: qt-embedded (= ${binary:Version}), ${misc:Depends}
Description: This is the developer version of QTE for Letux QtMoko

Package: qt-embedded
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is QTE for Letux QtMoko
